# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

BLOCKY_API_URL="http://localhost:4000"
DEMO_MODE=false

# Database configuration
# QUERY_LOG_TYPE=mysql
# QUERY_LOG_TARGET="username:password@tcp(localhost:3306)/blocky_query_log?timeout=15s"

# CSV configuration (single daily file: YYYY-MM-DD_ALL.log)
# QUERY_LOG_TYPE=csv
# QUERY_LOG_TARGET="/logs"

# CSV per-client configuration (multiple files per day: YYYY-MM-DD_<client>.log)
# QUERY_LOG_TYPE=csv-client
# QUERY_LOG_TARGET="/logs"
